<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @user.first_name %>, </h3><br>
    <h2>Thank you for joining Bloodstream!</h2>
    <hp>
      <br>

      Using Bloodstream, you can easily locate blood drives happening near you. By signing up, you are now able collect points and earn rewards as you donate!<br><br>

      Login to your account and start making a difference: <%= @url %>.<br><br>

      Thank you and have a great day!
    </p>
    <br><br><br>
    <h4>Cheers,</h4>
    <h4>Isabel</h4>
    <h4>Bloodstream Team</h4>
  </body>
</html>
