<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi <%= @user.first_name %>, </h2><br>
    <h1>Thank you for joining Bloodstream!</h1>
    <p>
      <br><br>

      Using Bloodstream, you can easily locate blood drives happening near you. By signing up, you are now able collect points and earn rewards as you donate!

      Login to your account and start making a difference: <%= @url %>.

      Thank you and have a great day!
    </p>
    <br><br><br>
    <p>Cheers,</p>
    <p>Isabel</p>
    <p>Bloodstream Team</p>
  </body>
</html>
