<div class="header">
  <h1>Bloodstream</h1>
  <h4>Live longer. Together.</h4>
</div>

<% if signed_in? %>
	<% if current_user.admin? %>
		<%= link_to 'SOS', send_sms_path %>
	<% end %>
<% end %>


<div class="our_mission mt-5 mb-5 ml-5 pl-4 mr-5 pr-4">
	<h1>Our Mission</h1>
	<p>Bloodstream is the lifeline of those who face  We aim to give people life through blood donation.
	<div class="learn-more-button">
		<%= link_to "Learn More", events_path, id: 'sign-up' %>
		</div>
	</p>
</div>

<div id= "numbers">
<div class="container">
	<div class="row">
    <div class="col-sm">
      <h1>2,000</h1>
			<p>Bags of blood are needed daily in Malaysia. This is excluding emergency cases.</p>
    </div>
    <div class="col-sm">
			<h1>1</h1>
			<p>Person's donation of blood can save three lives.</p>
    </div>
    <div class="col-sm">
      <h1>2.5%</h1>
			<p>of the Malaysian population are blood donors. This is low compared to 3.5% in developed countries.</p>
    </div>
    <div class="col-sm">
			<h1>20%</h1>
			<p>Bloodstream is the voice of victims and survivors. Lorem ipsum dolor sit amet</p>
    </div>
  </div>
</div>
</div>

<div class="row">
  <div id="calendar" class="col">
  	<h1>Upcoming Events</h1>
  </div>
  <div class="col">
    <div class="media mt-5">
  		<img class="align-self-center mr-3" src="..." alt="Placeholder Image">
  		<div class="media-body">
  			<p>10:00 AM - 5:00 PM</p>
    		<h5 class="mt-0">Donor Day</h5>
 			 </div>
		</div>
  <div class="media mt-5">
  		<img class="align-self-center mr-3" src="..." alt="Placeholder Image">
  		<div class="media-body">
  			<p>10:00 AM - 5:00 PM</p>
    		<h5 class="mt-0">Should She Stay or Should She Go: Helping Survivors with Interstate Custody and Relocation Cases</h5>
 			 </div>
		</div>
		<div class="media mt-5">
  		<img class="align-self-center mr-3" src="..." alt="Placeholder Image">
  		<div class="media-body">
  			<p>10:00 AM - 5:00 PM</p>
    		<h5 class="mt-0">16th Annual Freedom Network USA Human Trafficking Conference</h5>
 			 </div>
		</div>
	</div>
	</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>

