<div class="header">
  <h1>Bloodstream</h1>
  <h4>Live longer. Together.</h4>
</div>


<%= link_to 'Send Message', send_path %>

<div>
	<h1>Our Mission</h1>
	<p>Bloodstream is the voice of victims and survivors. We are the catalyst for changing society to have zero tolerance for domestic violence. We do this by affecting public policy, increasing understanding of the impact of domestic violence, and providing programs and education that drive that change.</p>
</div>

