
<h1>Hello#index</h1>
<p>Find me in app/views/hello/index.html.erb</p>
<%= form_for @rewardcodes do |r| %>
	
	<%= r.label :user_id %>
	<%= r.number_field :user_id %><br>
	<%= submit_tag("Generate Code") %><br>
	<% end %>

<div id="header" style="text-align: center;">
	<h1>BLOODSTREAM</h1>
</div>
<div id="tagline" style="text-align: center;">
	<h4>LIVE LONGER, TOGETHER.</h4>
</div>


