<div class="header">
  <h1>Bloodstream</h1>
  <h4>Live longer. Together.</h4>
</div>


<% if current_user.admin? %>
<%= link_to 'SOS', send_sms_path %>
<% end %>

<div>
	<h1>Our Mission</h1>
	<p>Bloodstream is the voice of victims and survivors. We are the catalyst for changing society to have zero tolerance for domestic violence. We do this by affecting public policy, increasing understanding of the impact of domestic violence, and providing programs and education that drive that change.</p>
</div>


<div class="our_mission mt-5 mb-5 ml-5 pl-4 mr-5 pr-4">
	<h1>Our Mission</h1>
	<p>Bloodstream is the voice of victims and survivors. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	<div class="learn-more-button">
		<%= link_to "Learn More", events_path, id: 'sign-up' %>
		</div>
	</p>
</div>

<div id= "numbers">
<div class="container">
	<div class="row">
    <div class="col-sm">
      <h1>537</h1>
			<p>Bloodstream is the voice of victims and survivors. Lorem ipsum dolor sit amet</p>
    </div>
    <div class="col-sm">
			<h1>10 Million</h1>
			<p>Bloodstream is the voice of victims and survivors. Lorem ipsum dolor sit amet</p>
    </div>
    <div class="col-sm">
      <h1>20,000</h1>
			<p>Bloodstream is the voice of victims and survivors. Lorem ipsum dolor sit amet</p>
    </div>
    <div class="col-sm">
			<h1>20%</h1>
			<p>Bloodstream is the voice of victims and survivors. Lorem ipsum dolor sit amet</p>
    </div>
  </div>
</div>
</div>

