<div class="header">
  <h1>Bloodstream</h1>
  <h4>Live longer. Together.</h4>
</div>

<div class="our_mission mt-5 mb-5 ml-5 pl-4 mr-5 pr-4">
	<h1>Our Mission</h1>
	<p>Bloodstream is the lifeline of those who face life's cruel uncertainties. We aim to save the lives of the young and old by raising awareness on the importance of blood donation. We do this through increasing public understanding of the impact of blood donation and supporting programs that drive participation.</p>
	<div class="learn-more-button">
		<%#= link_to "Learn More", about_path %>
		<a href="<%= about_path%>">Learn More</a>
	</div>
	</p>
</div>

<div id= "numbers">
<div class="container">
	<div class="row">
    <div class="col-sm">
    	<h1>1</h1>
			<p>person's donation of blood can save three lives.</p>
    </div>
    <div class="col-sm">
    	<h1>2,000</h1>
			<p>bags of blood are needed daily in Malaysia. This is excluding emergency cases.</p>
    </div>
    <div class="col-sm">
      <h1>2.2%</h1>
			<p>of the Malaysian population are blood donors. This is low compared to 3.5% in developed countries.</p>
    </div>
    <div class="col-sm">
			<h1>30 to 45</h1>
			<p>minutes is all it takes to donate. Each person can donate blood once in 3 months.</p>
    </div>
  </div>
</div>
</div>

<div class="row">
  <div id="calendar" class="col">
  	<h1>Upcoming Events</h1>
  </div>
  <div class="col">
    <div class="media mt-5">
  		<div class="event">
  			Nov <br> 3
  		</div>
  		<div class="media-body">
  			<p>10:00 AM - 5:00 PM</p>
    		<h5 class="mt-0">Donor Day</h5>
 			 </div>
		</div>
  <div class="media mt-5">
  		<img class="align-self-center mr-3" src="..." alt="Placeholder Image">
  		<div class="media-body">
  			<p>10:00 AM - 5:00 PM</p>
    		<h5 class="mt-0">Should She Stay or Should She Go: Helping Survivors with Interstate Custody and Relocation Cases</h5>
 			 </div>
		</div>
		<div class="media mt-5">
  		<img class="align-self-center mr-3" src="..." alt="Placeholder Image">
  		<div class="media-body">
  			<p>10:00 AM - 5:00 PM</p>
    		<h5 class="mt-0">16th Annual Freedom Network USA Human Trafficking Conference</h5>
 			 </div>
		</div>
	</div>
	</div>
</div>

<div id="threecolred">
  <div class="row">
    <div id="threecol-one" class="threecol col-sm">
    	<p>You can help</p>
    	<a href="#">
      	<h3>Get Involved</h3>
    	</a>
    </div>
    <div id="threecol-two" class="threecol col-sm">
      <p>Help others</p>
      <a href="#">
      	<h3>Learn the Signs</h3>
      </a>
    </div>
    <div id="threecol-three" class="threecol col-sm">
      <p>Our resources</p>
      <a href="#">
      	<h3>Get Help</h3>
      </a>
    </div>
  </div>
</div>

<div id="blog">
	<h1>Our Blog</h1>
	<div class="container">
		<div class="row pt-4">
	    <div class="blogs col-sm pb-4">
	    	<img src="https://getuikit.com/v2/docs/images/placeholder_600x400.svg" alt="Blog" height="300" width="300">
	      <p>November 3, 2017</p>
	      <a href="#"><h4>Inatoque penatibus et magnis dis parturient montes nascetur ridiculus mus</h4></a>
	    </div>
	    <div class="blogs col-sm">
	      <img src="https://getuikit.com/v2/docs/images/placeholder_600x400.svg" alt="Blog" height="300" width="300">
	      <p>November 3, 2017</p>
	      <a href="#"><h4>Inatoque penatibus et magnis dis parturient montes nascetur ridiculus mus</h4></a>
	    </div>
	    <div class="blogs col-sm">
	      <img src="https://getuikit.com/v2/docs/images/placeholder_600x400.svg" alt="Blog" height="300" width="300">
	      <p>November 3, 2017</p>
	      <a href="#"><h4>Inatoque penatibus et magnis dis parturient montes nascetur ridiculus mus</h4></a>
	    </div>
  	</div>
	</div>
	<div class="read-more pt-5">
		<a href="#">Read more</a>
	</div>
</div>

<div id="join">
  <div class="join pt-4 pb-4">
    <p>in the know</p>
	  <a href="#"><h1>Join Our Newsletter</h1></a>
  </div>
</div>

<div class="container pt-5 pb-4">
  <div class="row">
    <div class="footer col-6 pl-3 pr-3">
      <h5>Dreamteam</h5>
      <p><a href="https://www.google.com/maps/place/NEXT+Academy+%7C+The+Best+Coding+School/@3.133845,101.62998,15z/data=!4m2!3m1!1s0x0:0x1f08990385cee5b8?sa=X&ved=0ahUKEwijzaOd2LbXAhUGsI8KHXnVC0oQ_BIIfTAN">AG-7, Glomac Damansara, Jalan Damansara <br>Tmn Tun Dr Ismail, 60000</a><br>
    	<a href="tel:0392128158">03-9212 8158</a></p>
    </div>
    <div class="footer col-sm pl-3 pr-3">
      <h5>Resources</h5>
      <p><a href="#">Statistics</a><br>
      <a href="#">Latest Update</a><br>
      <a href="#">Lorem Ipsum</a></p>
    </div>
    <div class="footer col-sm pl-3 pr-3">
      <h5>Connect</h5>
      <p><a href="#">Events</a><br>
      <a href="#">Blogs</a><br>
      <a href="#">Volunteer</a></p>
    </div>
    <div class="footer col-sm pl-3 pr-3">
      <h5>Get Help</h5>
      <p><a href="#">Emergency Plan</a><br>
      <a href="#">Support</a><br>
      <a href="#">Resources</a><br>
      <a href="#">Education</a></p>
    </div>
  </div>
</div>

<div id="us">
  <div class="us pt-3 pb-1">
    <p>Bloodstream - Web developed & designed by Dreamteam</p>
  </div>
</div>