<h1 class="title" style="margin-left: 100px; margin-top: 150px; font-size: 2rem;">About Bloodstream</h1>

	<h2 class="title" style="margin-left: 200px; margin-top: 80px;">Our Vision</h2>
		<p style="margin-left: 200px; margin-top: 10px; margin-right: 200px;">
			We envision a future where the community is empowered to save lives through blood donation; and blood donation becomes a quarterly habit for every eligible donor.
	</p>

	<h2 class="title" style="margin-left: 200px; margin-top: 50px;">Our Mission</h2>
		<p style="margin-left: 200px; margin-top: 10px; margin-right: 200px">
			Bloodstream is the lifeline of those who face life's cruel uncertainties. We aim to save the lives of the young and old by raising awareness on the importance of blood donation. We do this through increasing public understanding of the impact of blood donation and supporting programs that drive participation.
		</p>

	<h3 class="title" style="margin-left: 200px; margin-top: 80px;">Partnerships and Projects</h3>
		<h4 style="margin-left: 220px; margin-top: 18px;">Events</h4>
		<p style="margin-left: 220px; margin-top: 10px; margin-right: 200px;">
			Bloodstream partners with hospitals and blood drive organizers to encourage participation and increase community involvement, whether through volunteering in blood drives or donating blood.
	</p>

	<h4 style="margin-left: 220px; margin-top: 18px;">Rewards</h4>
		<p style="margin-left: 220px; margin-top: 10px; margin-right: 200px;">
			Bloodstream's rewards program introduces a fun and easy way for donors to be rewarded for their efforts. Besides the satisfaction gained from helping those in need, we hope to give donors some tangible returns as a form of our appreciation.
	</p>


