 /*
 /*= require flatpickr
 /*= require flatpickr/material_red
 */
 
body {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

.navbar {
	font-size: 14px;
	background: transparent;
	padding: 2px;
}

#sign-up {
	padding: 3px 20px;
	border: 2px solid black;
	border-radius: 50px;
}

#sign-in {
	padding: 3px 20px;
	border: 2px solid black;
	border-radius: 50px;
	margin-left: 5px;
}

.header {
	background-image: url(/assets/front2.jpg);
	height: 100%;
	background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
	padding: 200px;
	padding-top: 400px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

.tagline {
	text-align: center;
	padding: 200px;
	padding-top: 300px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

.header h4 {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 1.4rem;
}

.header h1 {
	padding-top: 50px;
	font-size: 6rem;
	font-weight: bold;
}

.learn-more-button a:link {
	margin-left: 90px;
	margin-top: 30px;
	/*text-transform: uppercase;*/
	text-decoration: none;
	color: black;
}

.sign-up {
	margin-top: 100px;
}

.sign-in {
	margin-top: 100px;
}

.our_mission h1 {
	font-family: 'Volkhov', serif;
	padding-left: 20px;
	font-size: 220%;
	font-weight: 900;
}

.our_mission p {
	padding-left: 90px;
	padding-right: 90px;
	padding-top: 20px;
	margin-bottom: 20px;
	text-align: justify;
}

#numbers {
	background-image: url(/assets/red-roses2.jpg);
	color: #fff;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

#numbers .container .row .col-sm h1 {
	font-family: 'Volkhov', serif;
	font-size: 220%;
}

#numbers .container .row .col-sm p {
	text-transform: uppercase;
	font-size: 15px;
	font-family: 'Barlow', sans-serif;
}

.table {
	margin-top: 100px;
}

#calendar {
	background-image: url(/assets/calendar-small.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding: 50px;
	padding-top: 50px;
	padding-bottom: 400px;
}

#calendar h1 {
	font-family: 'Volkhov', serif;
	font-weight: 900;
	font-size: 220%;
}

.media-bodys {
	font-size: 15px;
}

.media-bodys p {
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 5px;
}

.card {
  float: left;
  margin-right: 10px;
  display: inline;
}

.title {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 1.7rem;
}

.threecol a:link {
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
}

.threecol h3 {
	font-family: 'Volkhov', serif;
}

.threecol p {
	text-transform: uppercase;
	font-size: 15px;
	font-family: 'Barlow', sans-serif;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
}

#threecol-one {
	background-color: #CB4742;
	padding-top: 15px;
	padding-bottom: 15px;
}

#threecol-two {
	background-color: #AB0000;
	padding-top: 15px;
	padding-bottom: 15px;
}

#threecol-three {
	background-color: #CB4742;
	padding-top: 15px;
	padding-bottom: 15px;
}

#blog {
	padding-top: 60px;
	padding-bottom: 60px;
	background-image: url(/assets/blog-background.jpg);
	/*background-repeat: no-repeat;*/
  background-attachment: fixed;
  background-size: cover;
}

#blog h1 {
	font-family: 'Volkhov', serif;
	font-weight: 900;
	font-size: 200%;
	text-align: center;
	color: #f2f2f2;
}

.blogs {
	background-color: #f2f2f2;
	border-radius: 10px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;

}

.blogs p {
	text-transform: uppercase;
	font-size: 15px;
	font-family: 'Barlow', sans-serif;
}

#blog a:link {
	text-decoration: none;
	color: black;
}

#blog .read-more a:link {
	text-decoration: none;
	color: #f2f2f2;
}

.read-more {
	text-align: center;
	font-family: 'Barlow', sans-serif;
	/*text-transform: uppercase;*/
	color: #111111;
	text-decoration: none;
}

.read-more a:link {
	color: #f2f2f2;
	text-decoration: none;
}

#join {
	background-color: #AB0000;
}

.join a:link {
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
}

.join h1 {
	font-family: 'Volkhov', serif;
}

.join p {
	font-family: 'Barlow', serif;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
}

.footer h5 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 900;
}

.footer p a:link {
	font-size: 15px;
	text-decoration: none;
	color: black;
}

.footer p a:visited {
	color: black;
}

#us {
	background-color: #CB4742;
}

.us p {
	text-align: center;
	color: #FFFFFF;
	font-size: 11px;
	font-family: 'Barlow', serif; 
	text-transform: uppercase;
	letter-spacing: 2px;
}

.event {
	background-color: #DC1100;
	color: white;
	font-size: 15px;
	text-align: center;
	border-radius: 5px;
	margin-left: 60px;
	margin-right: 15px;
	padding: 8px;
}

.row {
	margin-right: 0px;
}

.dropdown-item a {
	margin-right: 0px;
	padding-right: 0px;
}

.event_page {
	background-image: url(/assets/calendar.jpg);
	padding: 100px;
	padding-top: 180px;
	padding-bottom: 0px;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right 0px bottom 60px;
  background-size: cover;
}

.event_page_background {
	background-color: white;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 40px;
}

.event_page_background h1 {
	font-family: 'Volkhov', serif;
	font-size: 3.2rem;
}

.class_index {
	text-align: center;
	font-size: 15px;
	padding-bottom: 30px;
}

.faq_page {
	background-image: url(/assets/faq.jpg);
	padding: 100px;
	padding-top: 180px;
	padding-bottom: 0px;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right 0px bottom 60px;
  background-size: cover;
}

.faq_page_background {
	background-color: white;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 40px;
}

.faq_page_background h1 {
	font-family: 'Volkhov', serif;
	font-size: 3.2rem;
}