 /*
 /*= require flatpickr
 /*= require flatpickr/material_red
 */
 
body {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

.navbar {
	font-size: 14px;
}

#sign-up {
	padding: 3px 20px;
	border: 2px solid black;
	border-radius: 50px;
}

#sign-in {
	padding: 3px 20px;
	border: 2px solid black;
	border-radius: 50px;
	margin-left: 5px;
}

.header {
	background-image: url(/assets/front2.jpg);
	height: 100%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
	padding: 200px;
	padding-top: 300px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

.tagline {
	text-align: center;
	padding: 200px;
	padding-top: 300px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

.header h4 {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 1.4rem;
}

.header h1 {
	padding-top: 50px;
	font-size: 6rem;
	font-weight: bold;
}

.learn-more-button {
	margin-left: 90px;
	margin-top: 30px;
	/*text-transform: uppercase;*/
}

.sign-up {
	margin-top: 100px;
}

.sign-in {
	margin-top: 100px;
}

.our_mission h1 {
	font-family: 'Volkhov', serif;
	padding-left: 20px;
	font-size: 220%;
	font-weight: 900;
}

.our_mission p {
	padding-left: 90px;
	padding-right: 90px;
	padding-top: 20px;
	/*padding-bottom: 20px;*/
	margin-bottom: 20px;
	text-align: justify;
}

#numbers {
	background-image: url(/assets/red-roses2.jpg);
	color: #fff;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

#numbers .container .row .col-sm h1 {
	font-family: 'Volkhov', serif;
	font-size: 220%;
}

#numbers .container .row .col-sm p {
	text-transform: uppercase;
	font-size: 15px;
	font-family: 'Barlow', sans-serif;
}

.table {
	margin-top: 100px;
}

#calendar {
	background-image: url(/assets/calendar-small.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding: 50px;
	padding-top: 50px;
	padding-bottom: 400px;
}

#calendar h1 {
	font-family: 'Volkhov', serif;
	font-weight: 900;
	font-size: 220%;
}

.media-body {
	font-size: 15px;
}

.media-body p {
	font-size: 10px;
	margin-top: 0;
}

#sos {
	padding: 3px 20px;
	border: 2px solid red;
	border-radius: 50px;
	margin-left: 5px;
}